<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}"
>
<head>
    <title>Menu</title>
</head>
<body>
    <div layout:fragment="conteudo">
        <header>
            <h1>Pizzaria Daily Fresh</h1>
        </header>

        <section id="menu">
            <h2>Nossas Opções</h2>
            <ul>
                <li class="item" th:each="pizza : ${pizzas}">
                    <div>
                        <a class="item_link">
                            <img class="imagem" th:src="@{/image/pizzaDeMarguerita.jpg}">
                        </a>
                    </div>
                    <div class="item_descricao">
                        <a href="#" class="item_link">
                            <h3>Pizza Margarita</h3>
                        </a>
                        <p>Tomate, mozzarella, albahaca fresca.</p>
                    </div>
                    <div class="item_dinheiro">
                        <p>R$ 40,00</p>
                    </div>
                </li>
            </ul>
        </section>
        <section id="contacto">
            <h2>Contato</h2>
            <p>Estamos no endereço:</p>
            <address>
                Rua Principal, 123<br>
                Cidade, País<br>
                Telefone: (12) 3956-7890<br>
                E-mail: info@pizzeriadelicioso.com
            </address>
        </section>

        <footer>
            <p>&copy; 2023 Pizzaria Daily Fresh. Todos os direitos reservados.</p>
        </footer>
    </div>
</body>
</html>