<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}"
>
<head>
    <title>Menu</title>
</head>
<body>
    <div layout:fragment="conteudo">
        <div class="header">
            <img class="logo" th:src="@{/image/logoPizzaColorida.jpg}">
        </div>
        <form>
            <!--Utilizar o JAVASCRIPT aqui neste formulario para salvar-->
        </form>
    </div>
</body>
</html>