header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 36px;
}

.title{
    font-size: 22px;
    color: var(--azul-escuro);
    font-weight: 700;
    text-align: center;
    margin: 1em;
    text-transform: uppercase;
}

.logo{
    width: 10em;
    height: 10em;
    margin: 1em;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}