.item{
    display: flex;
}

.item_descricao{
    margin-top: 2em;
    width: 30em;
}

.item_dinheiro{
    align-items: center;
    margin: 2em 0 0 3em;
    justify-content: flex-end;
}

.item_link{
    text-decoration: none;
    color: var(--cinza-texto);
}
.item_tipo{
    margin: 1em;
    text-align: center;
}

.item_check{
    display: flex;
    flex-direction: row;
}

.item_check_select{
    justify-content: end;
}

.imagem{
    width: 5em;
    height: 5em;
    margin: 1em;
    border-radius: 8px;
}