section {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

section ul {
    list-style: none;
}

section ul li {
    margin-bottom: 20px;
}