@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
    --font-principal: 'Inter', sans-serif;
    --azul-escuro: #154580;
    --azul-medio: #3970BE;
    --azul-claro: #E5F1FF;
    --cinza-texto: #444444;
    --cinza-claro: #ECECEC;
}

*{
    box-sizing: border-box;
}

body{
    background-color: #f4f4f4;
    font-family: var(--font-principal);
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 36px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

section {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

section ul {
    list-style: none;
}

section ul li {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

/* Estilos específicos para secciones */
#inicio {
    background-image: url('pizza.jpg'); /* Cambia 'pizza.jpg' por la URL de tu imagen de inicio */
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

#inicio h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

#menu ul li h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

#contacto address {
    font-style: normal;
    font-size: 18px;
    margin-top: 10px;
}

/* Estilos para enlaces */
a:hover {
    text-decoration: underline;
}


.title{
    font-size: 22px;
    color: var(--azul-escuro);
    font-weight: 700;
    text-align: center;
    margin: 1em;
    text-transform: uppercase;
}

.logo{
    width: 10em;
    height: 10em;
    margin: 1em;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item{
    display: flex;
}

.item_descricao{
    margin-top: 2em;
    width: 30em;
}

.item_dinheiro{
    align-items: center;
    margin: 2em 0 0 3em;
    justify-content: flex-end;
}

.item_link{
    text-decoration: none;
    color: var(--cinza-texto);
}
.item_tipo{
    margin: 1em;
    text-align: center;
}

.item_check{
    display: flex;
    flex-direction: row;
}

.item_check_select{
    justify-content: end;
}

.imagem{
    width: 5em;
    height: 5em;
    margin: 1em;
    border-radius: 8px;
}