<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Principal</title>
    <link rel="stylesheet" href="../../static/css/reset.css">
    <link rel="stylesheet" href="../../static/css/style.css">
    <script src="../../static/javaScript/template.js" defer></script>
</head>
<body>
    
    <div id="template"></div>
    
    <div>
        <h1 class="titulo">Menu</h1>
    </div>
    <hr>
    <nav class="menu_h">
        <ul >
            <li><a href="../formulario/formularioCaracterizacao.html">Nova Caracterização</a></li>
            <li class="lista">
                <a href="#">Adicionar</a>
                <ul class="lista-menu">
                    <a href="../formulario/formularioUsuario.html">Usuarios</a>
                    <a href="../formulario/formularioFamiliaMaterial.html">Familia de Materiais</a>
                    <a href="../formulario/formularioProdutos.html">Produtos</a>
                    <a href="../formulario/formularioCliente.html">Cliente</a>
                    <a href="../formulario/formularioTabelaPreco.html">Tabela de Preço</a>
                    <a href="#">Cotação</a>
                    <a href="../formulario/formularioImagem.html">Imagem na Caracterização</a>
                </ul>
            </li>
            <li class="lista">
                <a href="#">Composição</a>
                <ul class="lista-menu">
                    <a href="../composicao/apontarComponentes.html">Montar Composição</a>
                </ul>
            </li>
            <li class="lista">
                <a href="#">Consultas</a>
                <ul class="lista-menu">
                    <a href="../consulta/consultaCaracterizacao.html">Caracterizações</a>
                    <!-- <a href="../consulta/consultaOrdem.html">Ordens</a> -->
                    <a href="../consulta/consultaComposicao.html">Composição</a>
                    <!-- <a href="../consulta/consultaCliente.html">Clientes</a> -->
                    <!-- <a href="#">Historico de Produto</a> -->
                </ul>
            </li>
            <!-- <li><a href="#">Simulação</a></li> -->
        </ul>
    </nav>
    <div class="conteudo">
        <a>Inteligência em caracterização de equipamentos eletrônicos</a>
    </div>
    
    
</body>
</html>