<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta Cliente</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/javaScript/template.js" defer></script>
</head>
<body>
    <div id="template"></div>
    
    <div>
        <h1 class="titulo">Clientes</h1>
    </div>
    <hr>
    <table class="tabela">
        <thead>
            <tr>
                <th class="cabecalho">CÓDIGO</th>
                <th class="cabecalho">NOME</th>
                <th class="cabecalho">STATUS</th>
            </tr>
        </thead>
        <tbody id="tbody">
            
        </tbody>
    </table>

    <script src="/static/javaScript/consulta/cliente/cliente.js" type="module"></script>
</body>
</html>