<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta Cotação</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/javaScript/template.js" defer></script>
</head>
<body>
    
    <div id="template"></div>

    <div>
        <h1 class="titulo">Consulta Cotação</h1>
    </div>
    <hr>
    <table class="tabela">
        <thead>
            <tr>
                <th class="cabecalho">DATA DA COTAÇÃO</th>
                <th class="cabecalho">PRODUTO</th>
                <th class="cabecalho">VALOR KG</th>
                <th class="cabecalho">CLIENTE</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="celula"></td>
            </tr>
        </tbody>
    </table>

</body>
</html>