@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('styles/header.css');
@import url('styles/nav.css');
@import url('styles/section.css');
@import url('styles/footer.css');
@import url('styles/itens.css');

:root{
    --font-principal: 'Inter', sans-serif;
    --azul-escuro: #154580;
    --azul-medio: #3970BE;
    --azul-claro: #E5F1FF;
    --cinza-texto: #444444;
    --cinza-claro: #ECECEC;
}

*{
    box-sizing: border-box;
}

body{
    background-color: #f4f4f4;
    font-family: var(--font-principal);
}

/* Estilos específicos para secciones */
#inicio {
    background-image: url('pizza.jpg'); /* Cambia 'pizza.jpg' por la URL de tu imagen de inicio */
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

#inicio h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

#menu ul li h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

#contacto address {
    font-style: normal;
    font-size: 18px;
    margin-top: 10px;
}

/* Estilos para enlaces */
a:hover {
    text-decoration: underline;
}



